# Secrets
.env
.env.*
!.env.example

# Python / venv
__pycache__/
*.pyc
.venv/
venv/

# MLflow local
mlruns/
mlflow.db

# Artifacts locaux
*.joblib
*.pkl

# Logs
logs.txt
*.log

# IDE
.vscode/
.DS_Store
